/* ==========================================
   RESET
========================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* ==========================================
   VARIABLES
========================================== */

:root{
    --primary:#7B4C7C;
    --dark:#25252B;
    --white:#fff;
}

/* ==========================================
   GLOBAL
========================================== */

body{
    font-family:'Poppins',sans-serif;
}

/* ==========================================
   NAVBAR
========================================== */

.header{

}

/* ==========================================
   HERO
========================================== */

.hero{

    width:100%;
    height:100vh;
    display:flex;
}

.hero-left{
    width:30%;
    background:#232428;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    overflow:visible; /* importante */
}

.hero-right{
    width:70%;
    background:#7C4D79;
    display:flex;
    justify-content:end;
    align-items:center;
}

.hero-content{
    width:75%;
}

.hero-subtitle{
    color:white;
    font-size:42px;
    font-family:'Caveat',cursive;
}

.hero-content h1{
    margin-top:15px;
    color:white;
    font-size:82px;
    font-weight:800;
    line-height:1.05;
}

.outline{
    color:transparent;
    -webkit-text-stroke:2px white;
}

.hero-content p{
    color:white;
    margin-top:30px;
    font-size:20px;
    line-height:34px;
    width:85%;
}

.btn-primary{
    margin-top:45px;
    background:white;
    color:#7C4D79;
    padding:18px 42px;
    border-radius:50px;
    border:none;
    font-weight:700;
    transition:.3s;
}

.btn-primary:hover{
    transform:translateY(-4px);
}

.workspace{
    width:600px;
    height:600px;
}

/*==========================
CODE WINDOW
==========================*/

.code-window{
    width:520px;
    background:#1E1E1E;
    border-radius:14px;
    overflow:hidden;
    box-shadow:0 30px 60px rgba(0,0,0,.45);
    animation:float 5s ease-in-out infinite;

    position:absolute;

    left: 120px;
    top: 20%;
    transform: translateY(-50%);
    
    z-index:10;
}

.code-header{

    height:42px;

    background:#2C2C2C;

    display:flex;

    align-items:center;

    padding:0 15px;

}

.code-header p{

    color:#bfbfbf;

    margin-left:15px;

    font-size:14px;

    margin-bottom:0;

}

.red,
.yellow,
.green{

    width:12px;

    height:12px;

    border-radius:50%;

    margin-right:8px;

}

.red{

    background:#ff5f56;

}

.yellow{

    background:#ffbd2e;

}

.green{

    background:#27c93f;

}

.code-body{

    padding:30px;

}

.code-body pre{

    margin:0;

    color:white;

    font-size:17px;

    line-height:34px;

    font-family:Consolas, monospace;

}

/* Highlight */

.purple{

    color:#C586C0;

}

.blue{

    color:#4FC1FF;

}

.orange{

    color:#D19A66;

}

.greenText{

    color:#98C379;

}

/* Floating */

@keyframes float{

    0%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-12px);

    }

    100%{

        transform:translateY(0);

    }

}

/* ====================== RESPONSIVO ====================== */

@media(max-width:992px){

.hero{
    flex-direction:column;
}

.hero-left{
    display:none;
}

.hero-right{
    width:100%;
}

.hero-content{
    width:90%;
}

.hero-content h1{
    font-size:56px;
}

}